<p style="color: green"><%= notice %></p>

<% content_for :title, "Excel files" %>

<h1>Current Files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>File</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @excel_files.each do |excel_file| %>
      <tr id="<%= dom_id excel_file %>">
        <td><%= excel_file.name %></td>
        <td>
          <% if excel_file.file.attached? %>
            <%= link_to excel_file.file.filename, courses_by_upload_path(excel_file.id) %>
          <% else %>
            No File
          <% end %>
        </td>
        <td>
          <%= link_to "Show this excel file", excel_file %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add new .xlsx file", new_excel_file_path, class: "btn btn--primary"%>
