<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://aux.tamu.edu/v1.7.0/styles/aux-styles.css">
  <%= stylesheet_link_tag 'schedule_viewer', media: 'all' %>
</head>
<body>

  <h1>Schedule Viewer</h1>

  <div class="timetable-wrapper">
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
        </tr>
      </thead>
      <tbody>
        <% initial_time = Time.parse("2000-01-01 08:00 AM UTC") %>
        <% current_time = initial_time.dup %>
        <% end_time = Time.parse("2000-01-01 09:00 PM UTC") %>

        <% while current_time <= end_time %>
          <tr>
            <td class="time-slot"><%= current_time.strftime("%I:%M %p") %></td>
            <% %w[Monday Tuesday Wednesday Thursday Friday].each do |day| %>
              <td></td>
            <% end %>
          </tr>
          <% current_time += 15.minutes %>
        <% end %>
      </tbody>
    </table>

    <!-- Absolute-positioned class block, spanning Monday and Tuesday -->
    <!-- Left = 9% + 13.34% * N -->
    <!-- Top = 55 + 19 * N -->
    <!-- Height = 19 * N -->
    <!-- Two Examples -->
    <!-- <div class="class-block" data-id="1" data-name="ENGR 102" data-details="Engineering Lab I - Room 1130.02" style="top: 55px; left: 23.34%; width: 13.34%; height: 76px"> -->
      <!-- ENGR 102 -->
    <!-- </div> -->

    <!-- <div class="class-block" data-id="2" data-name="MATH 2412" data-details="PreCalculus - Room 2218" style="top: 207px; left: 36.68%; width: 13.34%; height: 57px"> -->
      <!-- MATH 2412 -->
    <!-- </div> -->
    
    <% @selected_courses.each do |course| %>
  <% intervals_from_start = ((course.start_time - initial_time) / 15.minutes).to_i %>
  <% top_position = 55 + (intervals_from_start * 19) %>
  <% duration_intervals = ((course.end_time - course.start_time) / 15.minutes).to_i %>
  <% height_position = 19 * duration_intervals %>

  <% # Day map (handles "Th" specially to avoid confusion with "T") %>
  <% day_map = { "M" => 1, "T" => 2, "W" => 3, "Th" => 4, "F" => 5 } %>
  <% day_width = 13.34 %>

  <% days = [] %>
  <% str = course.days.dup %>
  <% days << "Th" if str.sub!("Th", "") %> <!-- Handle "Th" first to avoid "T" conflict -->
  <% days << "M" if str.sub!("M", "") %>
  <% days << "T" if str.sub!("T", "") %>
  <% days << "W" if str.sub!("W", "") %>
  <% days << "F" if str.sub!("F", "") %>

  <% days.each do |d| %>
    <% day_index = day_map[d] %>
    <% left_position = 10 + (day_index * day_width) %>

    <div class="class-block"
        data-id="<%= course.id %>"
        data-name="<%= course.sec_name %>"
        data-details="<%= course.short_title %>"
        style="top: <%= top_position %>px; left: <%= left_position %>%; width: <%= day_width %>%; height: <%= height_position %>px">
      <%= course.sec_name %>
    </div>
  <% end %>

<% end %>
  </div>

  <!-- Single Modal for displaying class details dynamically -->
  <div id="classModal" class="class-modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h3 id="classTitle">Class Name</h3>
      <p id="classDetails">Class details will be shown here.</p>
    </div>
  </div>

  <%= javascript_include_tag 'schedule_viewer' %>


</body>
</html>
