<div data-controller="blocks" class="container">
  <h1>COURSE BLOCKS</h1>

  <% if notice %>
    <div class="notice"><%= notice %></div>
  <% end %>

  <div class="action-buttons">
      
    <div class="inline-link">  
      <!-- Button for exporting blocks to Excel -->
      <%= link_to "EXPORT TO EXCEL", 
                  export_blocks_path(format: :xlsx), 
                  class: "btn btn--primary" %>
    </div>

    <div class="inline-select-block">
      <%= form_with url: block_selections_path,
                    method: :post, 
                    local: true, 
                    html: { id: "block-selection-form" } do %>  
        <!-- Button for selecting a block -->
        <%= button_tag "SELECT BLOCK", type: "submit", class: "btn btn--primary", id: "select-block-button" %>
      <% end %>
    </div>
  </div>

  <div class="blocks-container">
    <% if @generated_blocks&.any? %>
      <% @generated_blocks.each_with_index do |block, index| %>
        <%= render partial: "block", locals: { block: block, index: index } %>
      <% end %>
    <% else %>
      <p>No blocks available to display</p>
    <% end %>
  </div>
  
  <!-- Hidden Modal overlay for successful selection -->
  <div id="modal-overlay" style="display: none;"></div>
  
  <!-- Hidden Modal for successful selection -->
  <div id="modal" style="display: none;">
    <p id="modal-message"></p>
    <div id="modal-block-content"></div>
    <div class="modal-buttons">
      <%= link_to "SELECT AGAIN", 
                  "#", 
                  id: "modal-select-again",
                  class: "btn btn--primary" %>
      <%= button_to "BACK TO MY SCHEDULE", 
                  schedule_viewer_path, 
                  method: :get, 
                  id: "modal-back-to-schedule", 
                  class: "btn btn--primary" %>
    </div>
  </div>

</div>


