<h1>COURSES</h1>

<%= link_to "Add a New Course", new_course_path, class: "btn btn--primary" %>
<hr>

<!-- Excel File Upload Form -->
<%= form_with url: upload_courses_by_excel_path, method: :post, local: true, multipart: true do |f| %>
  <div class="form-group">
    <%= label_tag :file, "Select Excel File (.xlsx)" %><br>
    <%= file_field_tag :file, required: true %>
  </div>

  <div class="form-group">
    <%= submit_tag "Upload Courses", class: "btn btn-primary" %>
  </div>
<% end %>

<hr>


<table>
  <thead>
    <tr>
      <th>Term</th>
      <th>Department</th>
      <th>Section Name</th>
      <th>Syn</th>
      <th>Title</th>
      <th>Days</th>
      <th>Time</th>
      <th>Building</th>
      <th>Room</th>
      <th>Capacity</th>
      <th>Prerequisites</th>
      <th>Corequisites</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.term %></td>
        <td><%= course.dept_code %></td>
        <td><%= course.sec_name %></td>
        <td><%= course.syn %></td>
        <td><%= course.short_title %></td>
        <td><%= course.days %></td>
        <td><%= course.time_slots %></td>
        <td><%= course.building %></td>
        <td><%= course.room %></td>
        <td><%= course.crs_capacity %></td>
        <td><%= course.prerequisites %></td>
        <td><%= course.corequisites %></td>
        <td><%= course.category %></td>
        <td>
          <%= link_to "", edit_course_path(course), class: "bi bi-pencil" %>
          <%= link_to "", course_path(course),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "bi bi-trash" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>